.label-modal{
    background-color: #67ace9;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
}
.label-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.save-btn{
    padding: 5px;
    width: 80px;
    border-radius: 6px;
    border: 0px solid;
    cursor: pointer;
}